{% extends "base_generic.html" %}
{% block title %}<title>Way-connect - Dashborad</title>{% endblock %}
{% block content %}

<div class="page-header">
	<h1>Configuration files</h1>
</div>
<div class="col-sm-12">
	<div class="col-sm-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Fichiers de configuration origine</h3>
			</div>
			<div class="panel-body">
				<!-- Table -->
				{% for key,value in  configsOrigin.items %}
				<h2> {{ key }} </h2>

				
				<div class="col-sl-12 well">
					{% for line in  value %}
					<p> {{ line }}</p>
					{% endfor %}
				</div>
				<hr>
				{% endfor %}

			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Fichiers de configuration destination</h3>
			</div>
			<div class="panel-body">
				<!-- Table -->
				{% for key,value in  configs.items %}
				<h2> {{ key }} </h2>

				
				<div class="col-sl-12 well">
					{% for line in  value %}
					<p> {{ line }}</p>
					{% endfor %}
				</div>
				<hr>
				{% endfor %}

			</div>
		</div>
	</div>
</div>
{% endblock %}