{% extends "base_generic.html" %}
{% block title %}<title>Way-connect - Configuration</title>{% endblock %}
{% block content %}
<div class="page-header">
	<h1>Configuration</h1>
</div>

<div class="col-sm-12">
	<h3> Change configuration</h3>
	<form method="post" class="uniForm">
		{% csrf_token %}

		{% load widget_tweaks %}
		<div class="col-sm-6">
			<div class="form-group">
				<label for="exampleInputEmail1">Name</label>
				{{ form.name | add_class:"form-control"  }}
				<small id="emailHelp" class="form-text text-muted">Establishement name</small>
			</div>


			<div class="form-group">
				<label for="exampleInputEmail1">Session time-out</label>
				{{ form.client_session_timeout | add_class:"form-control"  }}
				<small id="emailHelp" class="form-text text-muted">Time out for interface reload</small>
			</div>

		</div>
		<div class="col-sm-6">


			<div class="form-group">
				<label for="exampleInputEmail1">Change mode</label>
				{{ form.api_mode | add_class:"form-control"  }}
				<small id="emailHelp" class="form-text text-muted">Change operating mode</small>
			</div>
		</div>
		<div class="col-sm-12">
			<input type="submit" value="Submit" class="btn btn-success">
		</div>
	</form>
</div>
<div class="col-sm-12">
	<h3> Run configuration</h3>

	<button type="button" class="btn btn-info" id="conf">
		<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		Configure
	</button>

	<button type="button" class="btn btn-success" id="run">
		<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
		Run
	</button>

	<button type="button" class="btn btn-danger" id="reboot">
		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
		Reboot
	</button>
	<p>
		<div class="col-sm-12 well output">
		</div>
	</p>

</div>
<script type="text/javascript">
	var lines = [];
	$( document ).ready(function() {
		$( "#conf" ).click(function() {
			$(".output").html();
			$(".output").html("wait...");
			$.getJSON('/dashboard/run_config',
			function (data) {

				$(".output").html();
				$.each(data, function (index, value) {
					$(".output").append("<p>" + value + "</p>");

				});

			});

		});

		$( "#run" ).click(function() {
			$(".output").html();
			$(".output").html("wait...");
			$.getJSON('/dashboard/run_prog',
			function (data) {

				$(".output").html();
				$.each(data, function (index, value) {
					$(".output").append("<p>" + value + "</p>");

				});

			});

		});
		$( "#reboot" ).click(function() {
			$(".output").html();
			$(".output").html("wait...");
			$.getJSON('/dashboard/reboot',
			function (data) {

				$(".output").html();
				$.each(data, function (index, value) {
					$(".output").append("<p>" + value + "</p>");

				});

			});

		});
		$( "#hostapd" ).click(function() {
			$(".output").html();
			$(".output").html("wait...");
			$.getJSON('/dashboard/hostapd_restart',
			function (data) {

				$(".output").html();
				$.each(data, function (index, value) {
					$(".output").append("<p>" + value + "</p>");

				});

			});

		});
	});

</script>
{% endblock %}
