{% extends "base_generic.html" %}
{% block title %}<title>Way-connect - Dashborad</title>{% endblock %}
{% block content %}

<div class="page-header">
	<h1>Configuration files</h1>
</div>
{% for line in configs %}
<div class="col-sm-12">
	<div class="panel panel-primary">
		<div class="panel-heading">

			<h3 class="panel-title">{{ line.name }}</h3>
		</div>
		<div class="panel-body">
			<div class="col-sm-6 text-dark">
				<h4 class="text-dark">{{ line.origine }}</h4>
				<div class="col-sm-12 well">
					{% for lines in line.origine_file %}
						<p>{{ lines }}</p>
					{% endfor %}
				</div>
			</div>

			<div class="col-sm-6  text-dark">
				<h4 class="text-dark">{{ line.dest }}</h4>
				<div class="col-sm-12 well">
					{% for lines in line.dest_file %}
						<p>{{ lines }}</p>
					{% endfor %}
				</div>
			</div>
			<p>Active : {{ line.active }}</p>
			<p>Sequence : {{ line.sequence }}</p>
			<p>Commande de configuration : {{ line.cmd }}</p>
			<p>Commande de lancement : {{ line.cmd_next }}</p>

				<div class="col-sm-12 well">
					{% for li in line.stat %}
						<p>{{ li }}</p>
					{% endfor %}
				</div>

		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
