{% extends "base_generic.html" %}
{% block title %}<title>Way-connect - Configuration</title>{% endblock %}
{% block content %}
	<div class="page-header">
	  <h1>Configuration</h1>
	</div>

	<div class="col-sm-12">
		<h3> Change configuration</h3>
		<form method="post" class="uniForm">
		    {% csrf_token %}

		    {% load widget_tweaks %}
		    <p>
	            {{ form.client_session_timeout | add_class:"form-control"  }}
	        </p>
		    <input type="submit" value="Submit" class="btn btn-success">
		</form>
	</div>
	<div class="col-sm-12">
		<h3> Run configuration</h3>
	
		<input type="button" value="Configure !" class="btn btn-info" id="conf">

		<input type="button" value="run !" class="btn btn-danger" id="run">

		<div class="col-sm-12 well output">
		</div>
		
	</div>
	{% load static %}
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"> </script>
	<script type="text/javascript">   
	var lines = [];
    $( document ).ready(function() {
    	 $( "#conf" ).click(function() {
    	 	$(".output").html();
    	 	$(".output").html("wait...");
            $.getJSON('/dashboard/run_config',
                    function (data) {

                        $(".output").html();
                        $.each(data, function (index, value) {
                        	 $(".output").append("<p>" + value + "</p>");
				
					    });
                    
                    });
    
    	});

    	 $( "#run" ).click(function() {
    	 	$(".output").html();
    	 	$(".output").html("wait...");
            $.getJSON('/dashboard/run_prog',
                    function (data) {

                        $(".output").html();
                        $.each(data, function (index, value) {
                        	 $(".output").append("<p>" + value + "</p>");
				
					    });
                    
                    });
    
    	});
    });

	</script>
{% endblock %}