[Unit]
Description=Unicorn Daemon for middleware
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/Way-way_box_app_v2/middleware
ExecStart=/usr/local/bin/gunicorn way_box_app_v2.wsgi

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID


[Install]
WantedBy=multi-user.target
