[Unit]
Description=Unicorn Daemon for middleware
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/Way-Connect_Box/middleware
EnvironmentFile=/home/pi/env
ExecStart=/usr/local/bin/gunicorn --workers 2 --bind unix:/home/pi/Way-Connect_Box/middleware/middleware.sock wsgi:app

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID


[Install]
WantedBy=multi-user.target
